
__pycache__
.vscode
.history
tp1/cache
tp1/relatorio.py
tp1/--stdout
tp1/add_to_head
tp1/dot_input
tp1/dot_input.svg
tp1/extra.md
tp1/latex_and.png
tp1/math_html.png
tp1/num_occ_pub_type.png
tp1/output.pdf
tp1/Pergunta1 (1).ipynb
tp1/pub_ind.png
tp1/roteiro.yml
tp1/serif_camila.png
tp1/singlePage.tex
tp1/tanrel.svg
tp1/test.html
tp1/test.sh
tp1/tmp.md
tp1/ut-format=html
tp1/Relatório/PLC.aux
tp1/Relatório/PLC.fdb_latexmk
tp1/Relatório/PLC.fls
tp1/Relatório/PLC.log
tp1/Relatório/PLC.out
tp1/Relatório/PLC.pdf
tp1/Relatório/PLC.toc
tp2/Code/parsetab.py
tp2/Code/parser.out
tp2/vms/array.o
tp2/vms/callStack.o
tp2/vms/code.o
tp2/vms/heap.o
tp2/vms/interface.c
tp2/vms/lex.l
tp2/vms/lex.yy.c
tp2/vms/lex.yy.o
tp2/vms/makefile
tp2/vms/opStack.o
tp2/vms/README
tp2/vms/semantic.c
tp2/vms/semantic.h
tp2/vms/semantic.o
tp2/vms/syntax.y
tp2/vms/types.o
tp2/vms/vms
tp2/vms/vms.c
tp2/vms/vmsGTKAux
tp2/vms/vmsMan.1
tp2/vms/y.tab.c
tp2/vms/y.tab.h
tp2/vms/y.tab.o
tp2/vms/structs/array.c
tp2/vms/structs/array.h
tp2/vms/structs/callStack.c
tp2/vms/structs/callStack.h
tp2/vms/structs/code.c
tp2/vms/structs/code.h
tp2/vms/structs/heap.c
tp2/vms/structs/heap.h
tp2/vms/structs/opStack.c
tp2/vms/structs/opStack.h
tp2/vms/structs/types.c
tp2/vms/structs/types.h
index.md
