START
PUSHN 1
PUSHN 1
PUSHI 0
STOREL 0
READ
ATOI
STOREL 1
PUSHN 4
la0:
PUSHL 0
PUSHL 1
INF
JZ la1
PUSHL 2
READ
ATOI
JUMP la0
la1:
la2:
PUSHL 0
PUSHI 0
SUP
JZ la3
PUSHL 0
PUSHI 2
MOD
JUMP la2
la3:
WRITE
STOP