START
PUSHN 1
PUSHA la0
CALL
POP 0
WRITE
STOP
la0:
PUSHN 1
PUSHN 1
PUSHI 1
STOREL -1
READ
ATOI
STOREL 0
READ
ATOI
STOREL 1
la1:
PUSHL 1
PUSHI 0
SUP
JZ la2
PUSHL -1
PUSHL 0
MUL
STOREL -1
PUSHL 1
PUSHI 1
SUB
STOREL 1
JUMP la1
la2:
WRITEI
RETURN