START
PUSHN 1
PUSHN 1
PUSHI 0
STOREL 0
PUSHI 2
STOREL 1
PUSHN 2
la0:
PUSHL 0
PUSHL 1
INF
JZ la1
PUSHGP
PUSHI 2
PADD
PUSHL 0
READ
ATOI
STOREN
PUSHL 0
PUSHI 1
ADD
STOREL 0
JUMP la0
la1:
PUSHL 0
PUSHI 1
SUB
STOREL 0
la2:
PUSHL 0
PUSHI 0
SUPEQ
JZ la3
PUSHGP
PUSHI 2
PADD
PUSHL 0
LOADN
PUSHI 2
MOD
DUP 1
PUSHI 1
EQUAL
JZ l1
PUSHI 2
JUMP l1
l1:
PUSHL 0
PUSHI 1
SUB
STOREL 0
JUMP la2
la3:
WRITE
STOP