START
PUSHN 3
PUSHA la0
CALL
POP 2
WRITEI
WRITE
STOP
la0:
READ
ATOI
STOREL -2
READ
ATOI
STOREL -1
PUSHI 1
STOREL -3
la1:
PUSHL -1
PUSHI 0
SUP
JZ la2
PUSHL -3
PUSHL -2
MUL
STOREL -3
PUSHL -1
PUSHI 1
SUB
STOREL -1
JUMP la1
la2:
RETURN