START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHI 1
STOREL 1
PUSHN 1
PUSHA la0
CALL
POP 0
STOREL 0
PUSHI 0
STOREL 2
la1:
PUSHL 2
PUSHL 0
INF
JZ la2
PUSHN 1
PUSHA la0
CALL
POP 0
STOREL 3
PUSHL 1
PUSHL 3
MUL
STOREL 1
PUSHL 2
PUSHI 1
ADD
STOREL 2
JUMP la1
la2:
PUSHL 1
WRITEI
WRITE
STOP
la0:
READ
ATOI
STOREL -1
RETURN