START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHI 0
STOREL 2
PUSHI 0
STOREL 3
READ
ATOI
STOREL 0
la0:
PUSHL 3
PUSHL 0
INF
JZ la1
READ
ATOI
STOREL 1
PUSHL 3
PUSHI 0
EQUAL
DUP 1
PUSHI 1
EQUAL
JZ l1
PUSHL 1
STOREL 2
JUMP l1
l1:
PUSHL 2
PUSHL 1
SUP
DUP 1
PUSHI 1
EQUAL
JZ l3
PUSHL 1
STOREL 2
JUMP l3
l3:
PUSHL 3
PUSHI 1
ADD
STOREL 3
JUMP la0
la1:
PUSHL 2
WRITEI
WRITE
STOP