START
PUSHN 1
PUSHN 1
PUSHN 10
PUSHI 0
STOREL 0
PUSHI 10
STOREL 1
la1:
PUSHL 0
PUSHL 1
INF
JZ la2
PUSHGP
PUSHI 2
PADD
PUSHL 0
PUSHN 1
PUSHA la0
CALL
POP 0
STOREN
PUSHL 0
PUSHI 1
ADD
STOREL 0
JUMP la1
la2:
PUSHL 0
PUSHI 1
SUB
STOREL 0
la3:
PUSHL 0
PUSHI 0
SUP
JZ la4
PUSHGP
PUSHI 2
PADD
PUSHL 0
LOADN
WRITEI
PUSHL 0
PUSHI 1
SUB
STOREL 0
JUMP la3
la4:
WRITE
STOP
la0:
READ
ATOI
STOREL -1
RETURN